<section>
  <button mat-stroked-button color="primary" routerLink="/event-binding">Event-binding</button>
  <button mat-stroked-button color="primary" routerLink="/property-binding">Property-binding</button>
  <button mat-stroked-button color="primary" routerLink="/string-interpolation">String-interpolation</button>
  <button mat-stroked-button color="primary" routerLink="/two-way-data-binding">Two-way-data-binding</button>
</section>
<button mat-button [color]="color" >My first button</button>

<button mat-button [disabled]="btnDisabled" >My second button</button>

<button mat-button [color]="colors[idx]" >My last button</button>
