<section>
  <button mat-stroked-button color="primary" routerLink="/event-binding">Event-binding</button>
  <button mat-stroked-button color="primary" routerLink="/property-binding">Property-binding</button>
  <button mat-stroked-button color="primary" routerLink="/string-interpolation">String-interpolation</button>
  <button mat-stroked-button color="primary" routerLink="/two-way-data-binding">Two-way-data-binding</button>
</section>
<mat-card class="mycard" >
  <mat-card-header>
    <mat-card-title>Person data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>First name: {{ person.firstname }}</p>
    <p>Last name: {{ person.lastname }}</p>
    <p>Age: {{ person.age }}</p>
    <p>Address: {{ person.address }}</p>
    <form >
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" value="{{ person.firstname }}">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
